h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #4CAF50;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
label {
display: block;
margin-bottom: 5px;
}
.green {
  color: green;
}

input[type=text] {
display: block;
margin-bottom: 10px;
width: 100%;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}
.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}