<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="form-container">
        <h1 style="text-align: center;">NEWS CLASSIFIER</h1>
        <form action="{{ url_for('predict')}}" method="post">
          <label for="sentence1">Sentence 1</label>
          <input type="text" id="sentence1" name="sentence1" placeholder="Enter sentence 1..." value="{{ request.form.get('sentence1', '') }}">
          <label for="sentence1" class="green">{{ prediction[0] }}</label>
          <br>

          <label for="sentence2">Sentence 2</label>
          <input type="text" id="sentence2" name="sentence2" placeholder="Enter sentence 2..." value="{{ request.form.get('sentence2', '') }}">
          <label for="sentence2" class="green">{{ prediction[1] }}</label>
          <br>

          <label for="sentence2">Sentence 3</label>
          <input type="text" id="sentence3" name="sentence3" placeholder="Enter sentence 3..." value="{{ request.form.get('sentence3', '') }}">
          <label for="sentence3" class="green">{{ prediction[2] }}</label>
          <br>

          <div class="center">
            <button id="predict-button" type="submit">Submit</button>
          </div>
        </form>
      </div>


  </body>
</html>
